:root {
  --primary: #050505;
  --primary-text: #f7f3f3;
  --secondary: #222022;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  display: inherit !important;
}

body::-webkit-scrollbar-track {
  background: #63ff000a;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #00ffee;
  border-radius: 20px;
  border: 3px solid #07ff00f7;
}
